@model DDPS.Api.Entities.Apartaments

@{
    ViewData["Title"] = "Изменить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">Изменить апартаменты</h1>

<div class="row">
    <div class="col-lg-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="Number" class="form-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Area" class="form-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <input type="hidden" name="Photo" value="@Model.Photo" />
            @if (ViewBag.Photodata != null)
            {
                <div class="mb-3">
                    <img width="200" src="data:image/jpeg;base64,@(Convert.ToBase64String(ViewBag.Photodata))">
                </div>
            }
            <div class="mb-3">
                <label class="form-label">Выберите файл</label>
                <input type="file" name="upload" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="TariffId" class="form-label"></label>
                <select asp-for="TariffId" class="form-select" asp-items="ViewBag.TariffId"></select>
                <span asp-validation-for="TariffId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a asp-action="Index" class="btn btn-secondary ms-2">Вернуться к полному списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
