@model DDPS.Api.Entities.Clients

@{
    ViewData["Title"] = "Изменение клиента";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title mb-0">Изменение клиента</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="mb-3">
                            <label asp-for="SecondName" class="form-label"></label>
                            <input asp-for="SecondName" class="form-control" />
                            <span asp-validation-for="SecondName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="FirstName" class="form-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="PhoneNumber" class="form-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                            <a asp-action="Index" class="btn btn-secondary ms-2">Вернуться к списку клиентов</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
